[submodule "spec/support/rust.vim"]
	path = spec/support/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "spec/support/vim-elixir"]
	path = spec/support/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
